body
{
    padding: 20px;
}

@font-face /*Загрузка дополнительного шрифта (Так задается свойство) */
{
    font-family: 'GreatFont';
    src: url("../Fonts/font.otf");
}
/*Дизайнеры считают, что страницы обычно выглядят лучше, если на них 
использу­ется не более трех шрифтов.*/ 

/*По умолчанию размер текста в браузере равен 16 пиксе­лам. Указание размера 
шрифта в пикселах -это наилучший способ гарантировать, что шрифт будет отображаться
в нужном размере, поскольку значения в процентах и еди­ницах em могут варьировать*/
p.serif
{
    line-height: 1.5em;
    /* Задает межстрочный интервал */ 
    font-weight: bold;
    /* Степень жирности шрифта, может бытьк ак жирным так и полужирным, так и значение на выбор */ 
    font-family: 'Times New Roman', Times, serif;
     /* Сначала указывается название шрифта, если такой не находитсья 
     указывается его замена, если и такой не находитсья, то выберается шрифт
      из доступных в serif */ 
    
    /* serif - шрифты используются для оформления большого обьема тектса, поскольку считается что они облегчают зрение */
    font-style: italic;
    /* Существуют варианты - Normal, Italic (курсив), Oblique (результат деформации в сторону стандартного шрифта) */
}
p.sanSerif
{
    font-weight: 300;
    text-indent: 20px;
    /*  text-indent позволяет создать отступ для первой
     строки текста внутри элемента*/
    text-decoration-line: line-through;
    /* Позволяет доабвлять и убирать линии через текст */
    font-family: Arial, Helvetica, sans-serif;
    /* sans-serif шрифты используются при небольших размерах шрифта так как выглядят чище и аккуратнее */
    font-stretch: condensed;
    /* Существуют варианты -  Condensed (суженный пробел между символами);  Regular; Extended (расширенный пробел между символами)*/
}
p.monospace
{
    font-weight: 900;
    letter-spacing: 0.2em;
    /* Управление кернингом - интервалом между буквами. Контролировать интервал 
    между словами также по­зволяет свойство wordspacing.*/
    font-family: 'Courier New', Courier, monospace; 
    /* monospace шрифты используются оп большей части для написани кода (Типичным примером является "Курьер" шрифт) */
    text-transform: capitalize;
    /* Подедрживает  uppercase (все в верхний) lowercase (все в нижний) capitalize (каждое слово с прописной)*/
}
.ourfont
{
    /*Позволяет использовать шрифт, даже если он не установлен на компьютере
    пользователя, предостав­ляя путь к файлу шрифта,который в этом
     случае будет загружен. */
    font-family: 'GreatFont', 'Times New Roman', Times, serif;
    vertical-align: baseline;
    /* Обеспечивает выравнивание по вертикали */
}
a
{
    text-align: justify;
    /* Позволяет задавать выравнивание текста, в данном случае - каждая строка абзаца будет заниматьв сю ширину поля */
    font-family: 'GreatFont', 'Times New Roman', Times, serif;
    text-decoration-line: none;
    /* Позволяет также убрать стандартные линии в ссылках */
}