div.box
{
    height: 500px;
    /* Напрямую задаетр азмеры в пикселях*/
    width: 500px;
    background-color: blanchedalmond;
    border-width: 5px;
    /* Ширина задаваемой границы блока */
    border-style: dashed;
    /* Может задавать стиль границ блоков. Можно отдельно задавать стили каждой стороны - border-bottom-style ... */
    box-shadow:  100px 100px 100px 100px firebrick;
    /* Элемент CSS3 позволяет создавать тени с различными параметрами вокруг элементов */
    border-radius: 100px;
    /* Элемент CSS3 позволяет создавать скругленные углы, с фиксированным радиусомм */
}
div p
{
    margin: auto;
    height: 35%;
    /* Процентное задание размера задает развер относителньо родительского эолемента */
    width: 60%;
    background-color: brown;
    color: azure;
}
h2
{
  font-family: 'Courier New', Courier, monospace;
  font-size: 155%;
  line-height: 1.1em;
  border-bottom: 2px solid blueviolet;
  /* Последователньо задается 
  border-bottom-width; 
  border-bottom-style; 
  border-bottom-color;
  И именно в таком порядке!*/
  color: blueviolet;
  width: 300px;  
}
.max
{
    min-width: 30%;
    min-height: 55%;
    overflow: scroll;
    /* Устанавливает правило которое применяется при недостаточности размера блока для его контента*/
}
.important
{
    margin-left: auto;
    margin-right: auto;
    /* При указании таких параметров "полей" будет выполняться центрация элемента. 
    Однако если не указано свойство width, то оно займет все окно браузера*/
    width: 500px;
    text-align: center;
    /* В старых браузерах также надо указывать и параметр текст-алигн */
}
li
{
    margin-right: 10px;
    display: inline;
    border: goldenrod dashed 5px;
    /* Позволяет превращать блочные элементы в встроенные (inline) и наоборот(block). 
    Может быть поелзно при создании меню навигации (к примеру из таблиц) */
}
li.notvisible
{
    /* display: none;*/
    /* Позволяет полность скрыть элемент не сотавляя от него ничего */ 
    visibility: hidden;
    /* В отличие от дисплея оставляет пустое место в той точке где должен был бы быть */    
    /* border-image c различными параметрами позволяет вставить на место границы изображение и задавать ему основные принципы - растягиваться ли или повторяться по бордюру  */
}
