html, body {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    /* Направление основной оси FlexBoxa - row; column*/
    flex-direction: row;
    /* Поведение контента относителньо главной оси */
    justify-content: center;
    /* Поведение конетенат относительно всторичной оси */
    align-items: center;
}
.square#sqr1{
    background-color: red;
    height: 100px;
    width: 100px;
}
.square#sqr2{
    height: 250px;
    width: 150px;
    background-color: yellow;
}
.square#sqr3{
    height: 180px;
    width: 300px;
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
img {
    display: block;
    width: 24px;
    height: 24px;
}